
@{
    Layout = null;
}
@using ZyDMSystem.Models
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap4")
    @Styles.Render("~/Content/css4")
    <title>MyInfo</title>
</head>
<body>
    <div class="form-group">
        <label>姓名：@Model.Name</label>
    </div>
</body>
</html>
