
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <style type="text/css">
        .field-validation-error {
        color:aqua;
        }
    </style>
</head>
<body>
    <div class="login-box">
        <h2>登录</h2>
        <form action="/Login/Login" method="post" id="LoginForm" @*autocomplete="off" 取消表单自动填充*@>
            <div class="login-field">
                @Html.ValidationMessage("errorMsg")
            </div>
            <br />
            <div class="login-field">
                <input type="text" name="Account" required="">
                <label>学号/工号</label>
            </div>
            <div class="login-field">
                <input type="password" name="Pwd" required="">
                <label>密码</label>
            </div>
            <div class="login-field">
                <div><select name="Role" class="form-control" required>
                    <option value="" class="role">--请选择角色--</option>
                    <option value="0" class="role">系统管理员</option>
                    <option value="1" class="role">楼宇管理员</option>
                    <option value="2" class="role">学生</option>
                </select></div>
            </div>
            <div style="width:100%;margin:0 auto;text-align:center;">
                <a href="#" class="btn_Login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    登录
                </a>
            </div>
        </form>
    </div>
</body>
</html>
<script>
    $(".btn_Login").click(function () {
        $("#LoginForm").submit();
    });
    $("#LoginForm").validate({
        rules: {
            Account: { required: true, checkAccount: true },
            Pwd: { required: true, checkPwd: true },
            Role: { required: true }
        },
        messages: {
            Account: { required: "", checkAccount: "学号/工号为6-8位纯数字!" },
            Pwd: { required: "" ,checkPwd:"密码组成为6-12位字母或数字！"},
            Role: { required: "" }
        }
    });
    $.validator.addMethod("checkPwd", function (date) {
        return /^[a-zA-Z0-9]{6,12}$/.test(date);
    })
    //验证学号/工号输入数字
    $.validator.addMethod("checkAccount", function (date) {
        return /^[0-9]{6,8}$/.test(date);
    })
</script>