
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <style type="text/css">
        .field-validation-error {
        color:aqua;
        }
    </style>
</head>
<body>
    <div class="login-box">
        <h2>登录</h2>
        <form action="/Login/Login" method="post" id="LoginForm" @*autocomplete="off"*@ @*取消表单自动填充*@>
            <div class="login-field">
                @Html.ValidationMessage("errorMsg")
            </div>
            <br />
            <div class="login-field">
                <input type="text" name="Account" required="">
                <label>账号</label>
            </div>
            <div class="login-field">
                <input type="password" name="Pwd" required="">
                <label>密码</label>
            </div>
            <div class="login-field">
                <select name="Role" class="form-control" required>
                    <option value="" class="role">--请选择角色--</option>
                    <option value="0" class="role">系统管理员</option>
                    <option value="1" class="role">楼宇管理员</option>
                    <option value="2" class="role">学生</option>
                </select>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a href="#" class="btn_Login">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        登录
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="#" class="btn_Register">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        注册
                    </a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
<script>
    $(".btn_Register").click(function () {
        window.location.href = "/Login/Register";
    });
    $(".btn_Login").click(function () {
        $("#LoginForm").submit();
    });
    $("#LoginForm").validate({
        rules: {
            Account: { required: true, checkAccount: true },
            Pwd: { required: true, checkPwd: true },
            Role: { required: true }
        },
        messages: {
            Account: { required: "", checkAccount: "账号由3-8位字母及下划线(_)组成!" },
            Pwd: { required: "" ,checkPwd:"密码组成为6-12位字母或数字！"},
            Role: { required: "" }
        }
    });
    $.validator.addMethod("checkPwd", function (date) {
        return /^[a-zA-Z0-9]{6,12}$/.test(date);
    })
    //验证账号输入英文
    $.validator.addMethod("checkAccount", function (date) {
        return /^[a-zA-Z_]{3,8}$/.test(date);
    })
</script>