
@{
    Layout = null;
}
@using ZyDMSystem.Models
@model List<Class>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Register.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <style type="text/css">
        .field-validation-error {
            color: aqua;
        }
    </style>
</head>
<body>
    <div class="login-box">
        <h2>注册</h2>
        <form id="RegisterForm" method="post" action="/Login/Register" enctype="multipart/form-data">
            <div class="login-field">
                @Html.ValidationMessage("errorMsg")
            </div>
            <br />
            <div class="login-field">
                <input type="text" name="Name" required="">
                <label>姓名</label>
            </div>
            <div class="login-field">
                <input type="radio" name="Sex" required="" value="true" id="Sex"><span>男</span>
                <input type="radio" name="Sex" required="" value="false" id="Sex"><span>女</span>
                <label id="lab_sex">性别</label>
            </div>
            <div class="login-field">
                <input type="text" name="Account" required="">
                <label>账号</label>
            </div>
            <div class="login-field">
                <input type="password" name="Pwd" required="" id="Pwd">
                <label>密码</label>
            </div>
            <div class="login-field">
                <input type="password" name="confirmPwd" required="" id="confirmPwd">
                <label>确认密码</label>
            </div>
            <div class="login-field">
                <input type="file" name="Photo" required="">
                <label id="lab_Photo">照片</label>
            </div>
            <div class="login-field">
                <select name="ClassID" class="form-control">
                    <option class="chooseClass" value="">--请选择班级--</option>
                    @foreach (var cl in Model)
                    {
                        <option class="chooseClass" value="@cl.ClassID">@cl.ClassName</option>
                    }
                </select>
            </div>
            <div style="width:100%;margin:0 auto;text-align:center;">
                <a href="#" class="btn_Register">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    注册
                </a>
            </div>
            <div style="width:100%;margin:0 auto;text-align:center;">
            </div>
        </form>
        <div class="text-center">
            <font color="aqua">已有账号？</font><a href="/Login/Login" id="btn_Login">去登录</a>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(".btn_Register").click(function () {
        $("#RegisterForm").submit();
    });
    $("#RegisterForm").validate({
        rules: {
            Name: { required: true, checkSinogram: true,maxlength: 8,minlength:2 },
            Sex: { required: true },
            Account: { required: true, checkAccount: true },
            Pwd: { required: true, checkPwd: true },
            confirmPwd: { required: true, equalTo: "#Pwd" },
            Photo: { required: true },
            ClassID: { required: true }
        },
        messages: {
            Name: { required: "", checkSinogram: "姓名只能由汉字组成！", maxlength: "姓名最多输入8个汉字！", minlength:"姓名最少输入两个汉字！" },
            Sex: { required: "" },
            Account: { required: "", checkAccount:"账号由3-8位字母及下划线(_)组成!" },
            Pwd: { required: "", checkPwd: "密码组成为6-12位字母或数字！" },
            confirmPwd: { required: "", equalTo: "确认密码与密码输入不一致！" },
            Photo: { required: "" },
            ClassID: { required: "" }
        }
    });
    $.validator.addMethod("checkPwd", function (date) {
        return /^[a-zA-Z0-9]{6,12}$/.test(date);
    })
    //验证姓名输入汉字
    $.validator.addMethod("checkSinogram", function (date) {
        var reg = new RegExp("[\\u4E00-\\u9FFF]+", "g");
        return reg.test(date);
    })
    //验证账号输入英文
    $.validator.addMethod("checkAccount", function (date) {
        return /^[a-zA-Z_]{3,8}$/.test(date);
    })
</script>
